@use "./colors.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background-color 0.3s ease;
  width: 100%;

  &.scrolled {
    background-color: $color-header-footer;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;

    img {
      height: 50px;
      width: 50px;
    }
    h1 {
      font-family: MontserratRegular;
      font-size: 23px;
    }
  }
  .navigation {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;

    .navigation {
      display: flex;

      .nav-link {
        color: $color-text;
        text-decoration: none;
        margin-left: 20px;
        font-family: MontserratRegular;
        font-size: 20px;
      }

      .nav-link.active {
        border-bottom: 3px solid $color-red;
        padding-bottom: 4px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 7px 17px;

    .logo {
      img {
        height: 60px;
        width: 60px;
      }
      h1 {
        font-family: MontserratRegular;
        font-size: 26px;
      }
    }

    .navigation {
      .nav-link {
        font-size: 25px;
      }

      .nav-link.active {
        border-bottom: 3px solid $color-red;
        padding-bottom: 4px;
      }
    }
  }
}
