@use "./colors.scss" as *;

.loadingScreen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;

  .loadingScreen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-40%);
    color: $color-text;
    font-family: MontserratRegular;
    box-sizing: border-box;
    .loadingScreen-title {
      text-align: center;
      font-size: 30px;
      letter-spacing: 8px;

      :nth-child(2) {
        color: $color-red;
      }
    }
    p {
      opacity: 0.5;
    }
    &::after {
      content: "";
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 40px;

      background: radial-gradient(
        ellipse at center,
        rgba(255, 0, 0, 0.6) 0%,
        rgba(255, 0, 0, 0.3) 40%,
        rgba(255, 0, 0, 0.1) 70%,
        transparent 100%
      );

      filter: blur(20px);
      opacity: 0.8;
    }
    .movie-animation {
      height: 130px;
      width: 130px;
    }
  }
}

@media (min-width: 1024px) {
  .loadingScreen {
    .loadingScreen-wrapper {
      .movie-animation {
        width: 180px;
        height: 180px;
      }
      .loadingScreen-title {
        font-size: 65px;
        letter-spacing: 10px;
      }
      &::after {
        width: 110%;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .loadingScreen {
    .loadingScreen-wrapper {
      .movie-animation {
        width: 200px;
        height: 200px;
      }
      .loadingScreen-title {
        font-size: 70px;
        letter-spacing: 11px;
      }
      &::after {
        width: 120%;
      }
      p {
        font-size: 22px;
      }
    }
  }
}
